body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
    max-width:250px;
    max-height:150px;
    width: auto; /*largura*/
    height: auto; /*altura*/
    margin-top: 20px;
}

#title, .subtitle, .post_title{
    color: #505050;
}

#title {
    font-size: 30px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #ef6950;
}

a:hover {
    color: #b052ea;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #FFF;
    padding: 15PX;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px
}

.contacts_list {
    list-style-type: none;
    padding-left: 7px;
}

.contacts_list li a {
    text-decoration: none;
}